{% extends "bushido/base.html" %}
{% load static %}
{% load bushidofilters %}
{% load crispy_forms_tags %}
{% block title %}<title>{{unit.name}} - Info</title>{% endblock %}
{% block content %}
<div class="container m-0">
  <form action="" method="post">
    {% csrf_token %}
    <div>
      {{ form.name|as_crispy_field }}
      <p class="fw-light">{{unit.faction.name}}</p>
      <ul class="list-group list-group-horizontal">
        {{ type_form|crispy }}
      </ul>
    </div>
    <hr>
    <div class="container card-container">
      <div class="row gx-0">
        <div class="col-lg-6"><img src="{% static cardFront %}" class="img-fluid d-block" alt = "{{unit.cardName}} Front"></div>
        <div class="col-lg-6"><img src="{% static cardBack %}" class="img-fluid d-block" alt = "{{unit.cardName}} Back"></div>
      </div>
      <div class="row my-2">
        <hr>
        <p>Card Name</p>
        {{ form.cardName|as_crispy_field }}
      </div>
    </div>
    <hr>
    <div>
      <h4>Stats:</h4>
      <table class="table">
        <thead class="table-group-divider">
        <tr>
          <th>Cost</th>
          <th>Melee</th>
          <th>Ranged</th>
          <th>Ki</th>
          <th>Move</th>
          <th>Wounds</th>
          <th>Size</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{form.cost|as_crispy_field}}</td>
          <td>{{form.meleePool|as_crispy_field }} {{form.meleeBoost|as_crispy_field }}</td>
          <td>{{form.rangedPool|as_crispy_field}} {{form.rangedBoost|as_crispy_field}}</td>
          <td>{{form.kiStat|as_crispy_field}}/{{form.kiMax|as_crispy_field}} {{form.kiBoost|as_crispy_field}}</td>
          <td>{{form.movePool|as_crispy_field}} {{form.moveBoost|as_crispy_field}}</td>
          <td>{{form.wounds|as_crispy_field}}</td>
          <td>
            {{form.size|as_crispy_field}}
            <div class="input-group">
              {{form.baseSize}}
              <span class="input-group-text">mm</span>
            </div>
          </td>
        </tbody>
        </tr>
      </table>
    </div>
    <div>
      Unique{{ form.unique|as_crispy_field }}
      Max{{ form.max|as_crispy_field }}
    </div>
    <hr>
    <h4>Weapons:</h4>
    {{ weapon_formset.management_form }}
    {{ weapon_formset.non_form_errors }}
    {% for hidden_field in weapon_formset.hidden_fields %}
    {{ hidden_field.errors }}
      {{hidden_field}}
    {% endfor %}
    <div class="container">
      <div class="row">
    {% for form in weapon_formset %}
        <div class="col-sm-4">
          {{ form.non_form_errors }}
          {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.errors }}
      {{hidden_field}}
    {% endfor %}
          <div class="card">
            <div class="card-body weapon">
              {{form.DELETE|as_crispy_field}}
              <h5 class="card-title">{{form.name|as_crispy_field}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{form.strength|as_crispy_field}}{{form.isRanged|as_crispy_field }}</h6>
              <div class="range-bands">
                <p>Range Bands</p>
                {{form.shortRange}}/{{form.mediumRange}}/{{form.longRange}}
              </div>
              <div>
                {{ form.traits.management_form }}
                {% for traitform in form.traits %}
                <div class="border mt-2 p-1">
                {{ traitform.non_form_errors }}
                {% for hidden_field in traitform.hidden_fields %}
                {{ hidden_field.errors }}
      {{hidden_field}}
    {% endfor %}
                {{ traitform|crispy }}
                  </div>
                {% endfor %}
              </div>
              <div>
                {{ form.specials.management_form }}
                {% for specialform in form.specials %}
                <div class="border mt-2 p-1">
                {{ specialform.non_form_errors }}
                {% for hidden_field in specialform.hidden_fields %}
                {{ hidden_field.errors }}
      {{hidden_field}}
    {% endfor %}
                {{ specialform|crispy }}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <hr>
    <div>
      <h4>Traits:</h4>
      {{ trait_form|crispy }}
    </div>
    <hr>
    <h4>Feats:</h4>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="scrollable-list">
            <ul class="list-group">
          {{ form.kiFeats }}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h4>Unique Effects:</h4>
      <p>{{ form.uniqueEffects|as_crispy_field }}</p>
    </div>
    {% if unit.faction.name == "Ronin" %}
    <div>
      <h4>Permitted factions:</h4>
      {{ form.ronin_factions|as_crispy_field }}
    </div>
    {% endif %}
    <input class="btn btn-outline-secondary" type="submit" value="Submit">
  </form>
</div>
{% endblock %}
