{% extends "bushido/base.html" %}
{% load static %}
{% block title %}<title>{{faction.name}} - Info</title>{% endblock %}
{% block content %}
<div class="container m-0">
    <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'bushido:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'bushido:allFactions' %}">Factions</a></li>
        <li class="breadcrumb-item active" aria-current="page">Faction</a></li>
      </ol>
    </nav>
  </div>
    <div class="row">
        <h2>{{faction.name}}</h2>
    </div>
  <hr>
    <div class="row">
<p>{{faction.description|linebreaks}}</p>
    </div>
  <hr>
    <div class="row">
<h4>Faction models:</h4>
<ul class="list-group">
    {% for unit in faction.unit_set.all %}
    <a class="list-group-item list-group-item-action" href="{% url 'bushido:modelDetails' unitid=unit.id%}">{{ unit.name }}</a>
        {% endfor %}
</ul>
    </div>
    <hr>
    <div class="row">
<h4>Faction Themes:</h4>
<ul class="list-group">
{% for theme in faction.theme_set.all %}
<a class="list-group-item list-group-item-action" href="{% url 'bushido:themeDetails' themeid=theme.id%}">{{ theme.name }}</a>
    {% endfor %}
    </ul>
    </div>
    <hr>
    <div class="row">
<h4>Faction Events, Enhancements, Equipment:</h4>
<ul class="list-group">
{% for event in faction.event_set.all %}
<a class="list-group-item list-group-item-action" href="#">{{ event.name }}</a>
    {% endfor %}
        </ul>
    </div>
  {% if faction.name != "Ronin" %}
  <hr>
      <div>

<h4>Ronin models:</h4>
<ul class="list-group">
    {% for unit in faction.ronin_units.all %}
    <a class="list-group-item list-group-item-action" href="{% url 'bushido:modelDetails' unitid=unit.id%}">{{ unit.name }}</a>
        {% endfor %}
</ul>
    </div>
  {% endif %}
</div>
{% endblock %}