{% extends "bushido/base.html" %}
{% load static %}
{% block title %}<title>{{faction.name}} - Info</title>{% endblock %}
{% block content %}
<div class="container m-0">
    <div class="row">
        <h2>{{faction.name}}</h2>
    </div>
    <div class="row">
<p>{{faction.description}}</p>
    </div>
    <div class="row">
<h4>Faction models:</h4>
<ul class="list-group">
    {% for unit in faction.unit_set.all %}
    <a class="list-group-item list-group-item-action" href="/bushido/info/model/{{unit.pk}}">{{ unit.name }}</a>
        {% endfor %}
</ul>
    </div>
    <hr>
    <div class="row">
<h4>Faction Themes:</h4>
<ul class="list-group">
{% for theme in faction.theme_set.all %}
<a class="list-group-item list-group-item-action" href="/bushido/info/theme/{{theme.pk}}">{{ theme.name }}</a>
    {% endfor %}
    </ul>
    </div>
    <hr>
    <div class="row">
<h4>Faction Events, Enhancements, Equipment:</h4>
<ul class="list-group">
{% for event in faction.event_set.all %}
<a class="list-group-item list-group-item-action" href="/bushido/info/event/{{event.pk}}">{{ event.name }}</a>
    {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}