<!DOCTYPE html>
<html lang="en">
{% extends "bushido/base.html" %}
<head>
    <meta charset="UTF-8">
    {% block title %}<title>{{feat.name}} - Info</title>{% endblock %}
</head>

{% block content %}
<body>
<div class="container m-0">
    <h1>{{feat.name}}</h1><br>
    <table class="table">
        <tr>
            <th>Cost</th>
            <th>Timing</th>
            <th>Type</th>
            <th>Range</th>
            <th>Restriction</th>
        </tr>
        <tr>
            <td>{{feat.cost}}</td>
            <td>{{feat.timing}}</td>
            <td>{{feat.featType}}</td>
            <td>{{feat.featRange}}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5">{{feat.description}}</td>
        </tr>
    </table><br><br>
    Models with feat:
    {% for unit in units %}
    <li><a href="/bushido/info/model/{{unit.pk}}">{{ unit.name }}</a></li>
        {% endfor %}
</div>
</body>
{% endblock %}
</html>