{% extends "bushido/base.html" %}
{% block title %}<title>{{feat.name}} - Info</title>{% endblock %}
{% block metatags %}
<meta property="og:title" content="{{feat.name}} - BushidoDB">
<meta property="og:description" content="{{feat.description}}">
{% endblock %}
{% block content %}
<div class="container m-0">
  <h1>{{feat.name}}</h1><br>
  <table class="table">
    <tr>
      <th>Cost</th>
      <th>Timing</th>
      <th>Type</th>
      <th>Range</th>
      <th>Properties</th>
      <th>Limit</th>
    </tr>
    <tr>
      <td>{{feat.cost}}</td>
      <td>{{feat.timing}}</td>
      <td>{{feat.featType}}</td>
      <td>{{feat.featRange}}</td>
      <td>{% if feat.isOpposed %}O.Ki {% endif %}{% if feat.noBTB %}NoBTB {% endif %}{% if feat.noMove %}NoMove {% endif %}</td>
      <td>{{feat.limit}}</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="5">{{feat.description}}</td>
    </tr>
  </table><br><br>
  Models with feat:
  <ul>
    {% for unit in feat.unit_set.all %}
    <li><a href="{% url 'bushido:modelDetails' unitid=unit.id%}">{{ unit.name }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}