{% extends "bushido/base.html" %}
{% load bushidofilters %}
{% block title %}<title>Search</title>{% endblock %}
{% block content %}
<div class="container m-0">
    <div class="row">
        <h2 class="pb-0">Search Results</h2>
        <p class="fw-light">{{search_results|length}} results</p>
    </div>
    <div class="row">
        <ul class="list-group">
            {% for thing in search_results %}
                <a href="/bushido/info/{{thing|className|lower}}s/{{thing.pk}}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{% if thing.cardName %}{% if thing.cardName != thing.name %}{{thing.cardName}} - {% endif %}{% endif %}{{thing.name}}</h5>
                        <small>{{thing|className}}</small>
                    </div>
                    <small>{{thing.faction.name}}</small>
                    <p class="mb-1">{{thing.description}}</p>
                </a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}