{% extends "bushido/base.html" %}
{% load static %}
{% block title %}<title>{{theme.name}} - Info</title>{% endblock %}
{% block content %}
<div class="container-fluid pe-1">
    <div class="row">
        <h2>{{theme.name}}</h2>
    </div>
    <div class="row container">
        <div class="col"><img src="{% static card %}" class="img-fluid d-block" alt = "{{theme.name}}"></div>
    </div>
    <div class="row">
<h4>Description:</h4>
        <p>{{theme.description}}</p>
    </div>
    <div class="row">
<h4>Permitted Models:</h4>
        <ul class="list-group">
{% for unit in permitted %}
<a class="list-group-item list-group-item-action" href="/bushido/info/model/{{unit.pk}}">{{ unit.name }}</a>
    {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
