{% extends "bushido/base.html" %}
{% load static %}
{% block title %}<title>{{theme.name}} - Info</title>{% endblock %}
{% block content %}
<div class="container-fluid pe-1">
    <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'bushido:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'bushido:allFactions' %}">Factions</a></li>
        <li class="breadcrumb-item"><a href="{% url 'bushido:factionDetails' factionid=theme.faction.id%}">{{theme.faction.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Theme</li>
      </ol>
    </nav>
  </div>
    <div class="row">
        <h2>{{theme.name}}</h2>
    </div>
  <hr>
    <div class="container single-card-container ms-md-4">
      <img src="{% static card %}" class="img-fluid d-block" alt = "{{theme.name}}">
    </div>
  <hr>
    <div class="row">
      <h4>Description:</h4>
      <p>{{theme.description|linebreaksbr}}</p>
      {% if theme.restriction != "" %}<p>{{theme.restriction|linebreaksbr}}</p>{% endif %}
    </div>
  <hr>
    <div class="row">
<h4>Permitted Models:</h4>
        <ul class="list-group">
{% for unit in permitted %}
<a class="list-group-item list-group-item-action" href="{% url 'bushido:modelDetails' unitid=unit.id%}">{{ unit.name }}</a>
    {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
