<!DOCTYPE html>
<html lang="en">
{% extends "bushido/base.html" %}
{% load static %}
{% load bushidofilters %}
<head>
    <meta charset="UTF-8">
    {% block title %}<title>{{unit.name}} - Info</title>{% endblock %}
</head>
{% block content %}
<body>
<h1>{{unit.name}}</h1>
{% for type in unit.unittype_set.all %}
    {% if type.type not in unit.name %}
  {{ type.type }},
{% endif %}
    {% endfor %}
<br>
<br>
<img src="{% static cardFront %}" height=500 alt = "{{unit.name}}"><img src="{% static cardBack %}" height=500 alt = "{{unit.name}}">
<h4>Stats:</h4>
<table>
    <tr>
        <th>Cost</th>
        <th>Melee</th>
        <th>Ranged</th>
        <th>Ki</th>
        <th>Move</th>
        <th>Wounds</th>
        <th>Size</th>
    </tr>
    <tr>
        <td>{{unit.cost}}</td>
        <td>{{unit.meleePool}} {{unit.meleeBoost|addBrackets}}</td>
        <td>{{unit.rangedPool}} {{unit.rangedBoost|addBrackets}}</td>
        <td>{{unit.kiStat}}/{{unit.kiMax}} {{unit.kiBoost|addBrackets}}</td>
        <td>{{unit.movePool}} {{unit.moveBoost|addBrackets}}</td>
        <td>{{unit.wounds}}</td>
        <td>{{unit.size}} {{unit.baseSize}}mm</td>
        <td></td>
    </tr>
</table>
<br>
<h4>Weapons:</h4>
{% for weapon in weapons %}
        {{ weapon|formatWeapon|safe }}
    {% endfor %}
<br>
<h4>Traits:</h4>
{% for trait in traits %}
    {% if forloop.last %}
        {{ trait|formatTrait }}
    {% else %}
         {{ trait|formatTrait }},
    {% endif %}
    {% endfor %}
<br>
<h4>Feats:</h4>
<table>
    <tr>
        <th>Name</th>
        <th>Cost</th>
        <th>Timing</th>
        <th>Type</th>
    </tr>
        {% for feat in unit.kiFeats.all %}
    <tr>
        <td><a href="/bushido/info/feat/{{feat.pk}}">{{ feat.name }}</a></td>
        <td>{{ feat.cost }}</td>
        <td>{{ feat.timing }}</td>
        <td>{{ feat.featType }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<h4>Unique Effects:</h4>
{{ unit.uniqueEffects|linebreaks }}
{% if perms.bushido.change_unit %}
<br>
<a href="./edit">Edit model</a>
{% endif %}
</body>
{% endblock %}
</html>