{% extends "bushido/base.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>{{feat.name}} - Info</title>{% endblock %}
{% block metatags %}
<meta property="og:title" content="{{feat.name}} - BushidoDB">
<meta property="og:description" content="{{feat.description}}">
{% endblock %}
{% block content %}
<div class="container m-0">
  <form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-outline-secondary" type="submit" value="Submit">
  </form>
</div>
{% endblock %}