{% extends "bushido/base.html" %}
{% load static %}
{% load bushidofilters %}
{% load crispy_forms_tags %}
{% block title %}<title>{{unit.name}} - Info</title>{% endblock %}
{% block content %}
<div class="container m-0">
  <form action="" method="post">
    {% csrf_token %}
    <div>
      {{ form.name|as_crispy_field }}
      <p class="fw-light">{{unit.faction.name}}</p>
      <h6>Types</h6>
      <ul class="list-group list-group-horizontal formset-container">
        {{ type_form.management_form }}
        {{ type_form.non_form_errors }}
        {% for hidden_field in type_form.hidden_fields %}
        {{ hidden_field.errors }}
          {{hidden_field}}
        {% endfor %}
        {% for form in type_form %}
        <div class="formset-form">
          {{ form.non_form_errors }}
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{hidden_field}}
        {% endfor %}
          {{ form.type|as_crispy_field }}
          <div class="d-none">
            {{ form.DELETE|as_crispy_field }}
          </div>
        </div>
        {% endfor %}
        <div class="formset-form empty-form d-none">
          {{ type_form.empty_form.type|as_crispy_field }}
          <div class="d-none">
            {{ type_form.empty_form.DELETE|as_crispy_field }}
          </div>
        </div>
      </ul>
    </div>
    <hr>
    <div class="container card-container">
      <div class="row gx-0">
        <div class="col-lg-6"><img src="{% static cardFront %}" class="img-fluid d-block" alt = "{{unit.cardName}} Front"></div>
        <div class="col-lg-6"><img src="{% static cardBack %}" class="img-fluid d-block" alt = "{{unit.cardName}} Back"></div>
      </div>
      <div class="row my-2">
        <hr>
        <p>Card Name</p>
        {{ form.cardName|as_crispy_field }}
      </div>
    </div>
    <hr>
    <div>
      <h4>Stats:</h4>
      <table class="table">
        <thead class="table-group-divider">
        <tr>
          <th>Cost</th>
          <th>Melee</th>
          <th>Ranged</th>
          <th>Ki</th>
          <th>Move</th>
          <th>Wounds</th>
          <th>Size</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{form.cost|as_crispy_field}}</td>
          <td>{{form.meleePool|as_crispy_field }} {{form.meleeBoost|as_crispy_field }}</td>
          <td>{{form.rangedPool|as_crispy_field}} {{form.rangedBoost|as_crispy_field}}</td>
          <td>{{form.kiStat|as_crispy_field}}/{{form.kiMax|as_crispy_field}} {{form.kiBoost|as_crispy_field}}</td>
          <td>{{form.movePool|as_crispy_field}} {{form.moveBoost|as_crispy_field}}</td>
          <td>{{form.wounds|as_crispy_field}}</td>
          <td>
            {{form.size|as_crispy_field}}
            <div class="input-group">
              {{form.baseSize}}
              <span class="input-group-text">mm</span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      Unique{{ form.unique|as_crispy_field }}
      Max{{ form.max|as_crispy_field }}
    </div>
    <hr>
    <h4>Weapons:</h4>
    {{ weapon_formset.management_form }}
    {{ weapon_formset.non_form_errors }}
    {% for hidden_field in weapon_formset.hidden_fields %}
    {{ hidden_field.errors }}
      {{hidden_field}}
    {% endfor %}
    <div id="weapon-forms" class="container formset-container">
    {% for form in weapon_formset %}
      <div class="row my-4 p-2 border formset-form">
        <h5>Weapon</h5>
        {{ form.non_form_errors }}
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.errors }}
          {{hidden_field}}
        {% endfor %}
        {{form.DELETE|as_crispy_field}}
        <div class="row">
          <div class="col-lg-6">
            {{form.name|as_crispy_field}}
          </div>
          <div class="col-lg-2 col-4">
            {{form.strength|as_crispy_field}}
          </div>
          <div class="col-lg-2 col-4">
            {{form.isRanged|as_crispy_field }}
          </div>
        </div>
        <div class="row range-bands d-none">
          <div class="col-lg-2 col-4">
            {{form.shortRange|as_crispy_field}}
          </div>
          <div class="col-lg-2 col-4">
            {{form.mediumRange|as_crispy_field}}
          </div>
          <div class="col-lg-2 col-4">
            {{form.longRange|as_crispy_field}}
          </div>
        </div>
        <div class="formset-container pt-3 border-bottom border-top">
          <h6>Weapon Traits</h6>
          {{ form.traits.management_form }}
          {% for trait_form in form.traits %}
          <div class="row formset-form">
            {{ trait_form.non_form_errors }}
            {% for hidden_field in trait_form.hidden_fields %}
              {{ hidden_field.errors }}
              {{ hidden_field }}
            {% endfor %}
            <div class="col-lg-4 col-sm-12">
              {{ trait_form.trait|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-6">
              {{ trait_form.X|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-6">
              {{ trait_form.Y|as_crispy_field }}
            </div>
            <div class="col-lg-4 col-sm-12">
              {{ trait_form.descriptor|as_crispy_field }}
            </div>
            <div class="d-none">
              {{ trait_form.DELETE|as_crispy_field}}
            </div>
          </div>
          {% endfor %}
          <div class="row formset-form d-none empty-form">
            <div class="col-lg-4 col-sm-12">
              {{ form.traits.empty_form.trait|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-6">
              {{ form.traits.empty_form.X|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-6">
              {{ form.traits.empty_form.Y|as_crispy_field }}
            </div>
            <div class="col-lg-4 col-sm-12">
              {{ form.traits.empty_form.descriptor|as_crispy_field }}
            </div>
            <div class="d-none">
              {{ form.traits.empty_form.DELETE|as_crispy_field}}
            </div>
          </div>
        </div>
        <div class="formset-container mt-3">
          <h6>Special Abilities</h6>
          {{ form.specials.management_form }}
          {% for special_form in form.specials %}
          <div class="row formset-form">
          {{ special_form.non_form_errors }}
          {% for hidden_field in special_form.hidden_fields %}
            {{ hidden_field.errors }}
            {{hidden_field}}
          {% endfor %}
          <div class="col-8">
            {{ special_form.special|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ special_form.cost|as_crispy_field }}
          </div>
          <div class="d-none">
            {{ special_form.DELETE|as_crispy_field}}
          </div>
          </div>
          {% endfor %}
          <div class="row formset-form d-none empty-form">
          <div class="col-8">
            {{ form.specials.empty_form.special|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.specials.empty_form.cost|as_crispy_field }}
          </div>
          <div class="d-none">
            {{ form.specials.empty_form.DELETE|as_crispy_field}}
          </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="row my-4 p-2 border formset-form d-none empty-form">
        <!-- TODO: figure out weapon empty form (or have extra ones show) -->
      </div>
    </div>
    <hr>
    <div id="trait-forms" class="formset-container">
      <h4>Traits:</h4>
      {{ trait_form.management_form }}
      {% for form in trait_form %}
      <div class="row formset-form">
        {{ form.non_form_errors }}
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.errors }}
          {{hidden_field}}
        {% endfor %}
        <div class="col-lg-4 col-sm-12">
          {{ form.trait|as_crispy_field }}
        </div>
        <div class="col-lg-2 col-6">
          {{ form.X|as_crispy_field }}
        </div>
        <div class="col-lg-2 col-6">
          {{ form.Y|as_crispy_field }}
        </div>
        <div class="col-lg-4 col-sm-12">
          {{ form.descriptor|as_crispy_field }}
        </div>
        <div class="d-none">
          {{ form.DELETE|as_crispy_field}}
        </div>
        <hr>
      </div>
      {% endfor %}
      <div id="empty-trait-form" class="row d-none empty-form formset-form">
        <div class="col-lg-4 col-12">
          {{ trait_form.empty_form.trait|as_crispy_field }}
        </div>
        <div class="col-lg-2 col-6">
          {{ trait_form.empty_form.X|as_crispy_field }}
        </div>
        <div class="col-lg-2 col-6">
          {{ trait_form.empty_form.Y|as_crispy_field }}
        </div>
        <div class="col-lg-4 col-12">
          {{ trait_form.empty_form.descriptor|as_crispy_field }}
        </div>
        <div class="d-none">
          {{ trait_form.empty_form.DELETE|as_crispy_field}}
        </div>
        <hr>
      </div>
    </div>
    <h4>Feats:</h4>
    <div class="container pt-1">
      <div class="card">
        <div class="card-body">
          <div class="scrollable-list">
            <ul class="list-group">
          {{ form.kiFeats }}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-3">
      <h4>Unique Effects:</h4>
      <p>{{ form.uniqueEffects|as_crispy_field }}</p>
    </div>
    {% if unit.faction.name == "Ronin" %}
    <div>
      <h4>Permitted factions:</h4>
      {{ form.ronin_factions|as_crispy_field }}
    </div>
    {% endif %}
    <input class="btn btn-outline-secondary" type="submit" value="Submit">
  </form>
</div>
{% endblock %}
