{% extends "bushido/base.html" %}
{% block title %}<title>Bushido Database - Login</title>{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container m-0">
  <div class="row">
    <div class="col-lg-6">
      <h2>Login</h2>
      {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
      {% endif %}

      <form method="post" action="{% url 'bushido:login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-outline-secondary" type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
      </form>
      <div class="py-5">
        <hr>
        <p><a class="btn btn-outline-secondary" href="{% url 'bushido:register' %}">Don't have an account?</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}