{% extends "bushido/base.html" %}
{% block title %}<title>Actions</title>{% endblock %}
{% block content %}
<div class="container m-0">
    <h2>Actions</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for action in action_list %}
                <tr id="{{ action.name }}">
                    <td><span>{{ action.name }}</span></td>
                    <td>{{ action.action_type }}</td>
                    <td>{{ action.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}