{% extends "bushido/base.html" %}
{% block title %}<title>Factions</title>{% endblock %}
{% block metatags %}
    <meta property="og:title" content="Factions">
    <meta property="og:description" content="View the list of Bushido factions">
{% endblock %}
{% block content %}
<div class="container m-0">
    <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'bushido:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Factions</a></li>
      </ol>
    </nav>
  </div>
    <div class="row">
        <h2>Factions</h2>
    </div>
    <div class="row">
        <ul class="list-group">
        {% for faction in faction_list %}
            <a class="list-group-item list-group-item-action" href="{% url 'bushido:factionDetails' factionid=faction.id %}">
                {{faction.name}}
            </a>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}