{% extends "bushido/base.html" %}
{% block title %}<title>All Ki Feats</title>{% endblock %}
{% block content %}
<div class="container m-0">
    <h2>All Ki Feats</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Timing</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for feat in kifeat_list %}
                <tr>
                    <td><a href="{% url 'bushido:featDetails' featid=feat.id%}">{{ feat.name }}</a></td>
                    <td>{{ feat.cost }}</td>
                    <td>{{ feat.timing }}</td>
                    <td>{{ feat.featType }}</td>
                    <td>{{ feat.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}