{% extends "bushido/base.html" %}
{% block title %}<title>Melee Exchanges</title>{% endblock %}
{% block content %}
<div class="container m-0">
    <h2>Melee Exchanges</h2>
    <div>
        <p>
            A Melee Attack is a type of Opposed test, and all the usual rules apply, during a Melee Attack the use of Instant and Active Ki Feats (And effects that can be used as Instants) is restricted . For a Melee Exchange, however, two tests are rolled simultaneously, with each model rolling Attack and Defence dice at the same time and applying traits to see which model comes out of the exchange victorious
        </p>
        <p>
            A Melee Exchange represents the awesome conflicts between the characters of Bushido using Katanas, Martial Arts, claws and teeth, Magical abilities and other stranger fighting techniques
        </p>
        <p>
            Melee exchanges usually occur as part of a Melee Action which allows you to move into BtB contact; often a melee action will be declared when already in BtB contact
        </p>
        <p>
            Once in BtB turn both models to face directly toward each other. Next players may declare any Instant Ki feats that will affect the melee, including Ki boosting the melee pool. The defender declares first.
        </p>
        <p>
            Next players allocate dice pools. Secretly take your dice (You should have two colours of Dice, one for attack and one for Defence) and assign them, so you have a total equal to your melee pool.
        </p>
        <p>
            You also need to remove dice from the Melee Pool to pay for any Special Attack or Defence.
        </p>
        <p>
            Once both players have secretly allocated dice, reveal any special Attack or Defence and roll all the dice together.
        </p>
        <p>
            In Bushido, dice with a value of 1 are removed from tests. Put them to one side they are not counted for the rest of the melee exchange.
        </p>
        <p>
            The Active player’s model attacks first. Take the value of the highest attack dice rolled, and also up to two other attack dice to become a supporting dice which each add +1 to the highest value, to find the result of the attack.
        </p>
        <p>
            The defender does the same with their defence dice, taking the highest and adding +1 for each supporting dice.
        </p>
        <p>
            If the Attacker succeeds, the difference between the final results is the Success Level of the attack.
        </p>
        <p>
            Any Special Attack or Defence is applied depending on the outcome.
        </p>
        <p>
            This is used, along with a 2D6 Damage Roll on the damage table to find the total damage of the attack. (See Damage Roll p .45)
        </p>
        <p>
            Assuming the defender is still around to make an attack, the defending player can now total their Attack Dice in the same way and check against the Attackers Defence to see if they also caused damage or uses a Special Attack or Defence.
        </p>
        <p>
            Once the Melee Exchange is over, remove an Activation Counter from both models.
        </p>
    </div>
    <hr>
    <div>
        Note, this timing chart covers every eventuality of combinations of Abilities, Ki Feats, Special Attacks and Defences and all manner of other ‘in game’ occurrences.
        Use the following steps to resolve a Melee Exchange:
        <ol>
            <li>Rotate both models so that their Facings are aligned with each other.</li>
            <li>Choose which weapon will be used for the exchange, non-Activating model first. This will determine which Traits and Special attacks and defences are available.</li>
            <li><ol type="a">
                <li>Determine which model has the Initiative. The model with the Initiative is the Attacker the other model the Defender. By default, Activating models have the Initiative, but some traits and States may change this. In all the following steps, the player without the initiative declares any non-simultaneous effects first. Regardless of Initiative the Active Player and Activating Model do not change.</li>
                <li>Both players may now use Instant Ki Feats to change the initiative. The non-Activating player declares first. If the initiative was changed, the Activating player may then also declare Instant Ki Feats to change the initiative.</li>
                <li>The initiative is now set and cannot be changed.</li>
            </ol></li>
            <li>Both players then calculate their model’s dice pool using its Melee pool Statistic value as the base number of dice used and apply any modifiers. They then decide if they will use any abilities, Ki Feats or increase the Melee pool Statistic through a Ki Boost. The Non Active Player must declare everything before the Active Player.</li>
            <li>Once the players have calculated their dice pools, they must both secretly decide how to allocate the dice between Attack and Defence. If players are using a Special Attack or Special Defence, then they must secretly remove a number of dice from their pool equal to the cost of the Special Attack or Defence (See Special Attacks & Defenses). Also include the use of any effects, including Instant (Or active for the active player) Ki Feats, which alter the cost of Attacks or Defences or add additional Attacks or Defences. The Dice allocation and choice of Special Ability is Hidden Information until simultaneously revealed.</li>
            <li>Two distinct colours of dice are needed; one colour represents Attack and the other Defence. For example, a model with a Melee pool of 3 may roll either 3 Attack dice, 2 Attack dice and 1 Defence dice, 1 Attack dice and 2 Defence dice or 3 Defence dice.</li>
            <li>Once both players have allocated their dice:
            <ol type="a">
                <li>Declare the use of any effects used which alter the cost of Attacks or Defences or add additional Attacks or Defences (You will have secretly decided the use of these abilities in Step 5).</li>
                <li>Announce simultaneously if they are using a Special Attack or Defence.</li>
                <li>Remember a model can only use one Special Attack or Defence, not both types.</li>
            </li></ol>
            7. a) If the models are still in BtB both players roll all their dice simultaneously; otherwise, the melee action ends now, the Activating model removes an activation counter.
            b) Perform any re-rolls in the order given in Conducting Re-rolls (p .32), then remove or add dice last. See for example Unblockable, Impenetrable Defence traits  (p.71 - p.66).
            8. Both players then calculate their final Attack and Defence results by selecting the highest dice of each type (Defence and Attack), each player then collects up to two dice rolled of each type (Attack & Defence) which were not 1’s. Each of these supporting dice will add +1 to the highest dice rolled. The players apply any modifiers from traits and effects to their highest dice rolled to get their model’s final Attack and Defence results.
            a) Remember, if a player rolls no dice of one type then their final result of that type is 0. If a player rolls no Attack dice, then no Damage Roll is made in Step 9.
            9. If no dice are allocated to Attack, any Special Attacks do not trigger. If no dice are allocated to Defence, any Special Defences do not trigger. Any dice that are 1's are not counted towards resolving the test but still count towards the player having allocated dice in the appropriate dice pool.
            10. The Attacker compares its final Attack result against the Defender’s final Defence result, using Tiebreakers if necessary Note: when checking which player has the most dice for tiebreakers, count all attack and defence dice (That did not roll 1s) for both players towards tiebreakers for both attack and defence.
            a) If the Attacker was successful apply the effects of any Special Attacks used by the Attacker and move to Step 11.
            b) If the Defender was successful apply any Special Defences used by the Defender. If this results in either model being removed from the table, the defender no longer being in BtB with the Attacker, or the defender becoming Prone, skip to Step 14 otherwise move to Step 13.
            11. The players declare the use of any Instant (or active for the active player) Ki Feats for models involved in the exchange.
            12. The Attacker makes a Damage Roll against the Defender and resolves any effects triggered by damage in melee. If the attack causes the Defender to become Prone or, if at the end of this step the Defender model is removed from the table or no longer in BtB with the Attacker, skip to Step 14.
            13. Run through from Step 10 with the Defender becoming the Attacker unless it has already been the Attacker this Melee Exchange.
            14. The Melee Exchange is now resolved, and both models remove one activation counter.
            15. Any Boosts used for this Melee Exchange expire
        </ol>
    </div>
    <div>
        MELEE POOL MODIFIERS
        Effect Model is Exhausted Melee Assist Model is Prone, Blind, Stunned, Frightened, Held . Dice Pool Modifier-1-1 per model Assisting-1 per State Model Ran this turn Model is Surprised Model declared a Stand Up action 44-1-1-1
    </div>
    <div>
        MELEE ASSIST
        Models in Melee Exchanges suffer a -1 modifier for each Enemy model in BtB with which they are not currently resolving a Melee Exchange, and which is not also in BtB with a Friendly model. The enemy model is said to be Assisting the Melee.
    </div>
</div>
{% endblock %}