{% extends "bushido/base.html" %}
{% block title %}<title>{{feat.name}} - Info</title>{% endblock %}
{% block metatags %}
<meta property="og:title" content="{{feat.name}} - BushidoDB">
<meta property="og:description" content="{{feat.description}}">
{% endblock %}
{% block content %}
<div class="container m-0">
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'bushido:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'bushido:allFeats' %}">Ki Feats</a></li>
        <li class="breadcrumb-item active" aria-current="page">Feat</a></li>
      </ol>
    </nav>
  </div>
  <h2>{{feat.name}}</h2>
  <hr>
  <table class="table">
    <tr>
      <th>Cost</th>
      <th>Timing</th>
      <th>Type</th>
      <th>Range</th>
      <th>Properties</th>
      <th>Limit</th>
    </tr>
    <tr>
      <td>{{feat.cost}}</td>
      <td>{{feat.timing}}</td>
      <td>{{feat.featType}}</td>
      <td>{{feat.featRange}}</td>
      <td>{% if feat.isOpposed %}O.Ki {% endif %}{% if feat.noBTB %}NoBTB {% endif %}{% if feat.noMove %}NoMove {% endif %}</td>
      <td>{{feat.limit}}</td>
      <td></td>
    </tr>
  </table>
  <p>{{feat.description|linebreaksbr}}</p>
  <hr>
  <h4>Models with feat:</h4>
  <ul class="list-group">
    {% for unit in feat.unit_set.all %}
    <a class="list-group-item list-group-item-action" href="{% url 'bushido:modelDetails' unitid=unit.id%}">{{ unit.name }}</a>
    {% endfor %}
  </ul>
  {% if perms.bushido.change_ki_feat %}
  <hr>
  <a class="btn btn-outline-secondary" href="./edit/" role="button">Edit feat</a>
  {% endif %}
</div>
{% endblock %}