{% extends "bushido/base.html" %}
{% load static %}
{% load bushidofilters %}
{% block title %}<title>{{unit.name}} - Info</title>{% endblock %}
{% block metatags %}
    <meta property="og:title" content="{{unit.cardName}} - BushidoDB">
    <meta property="og:description" content="{{unit.faction.name}}">
    <meta property="og:image" content="{% static cardFront %}">
    <meta name="twitter:card" content="summary_large_image">
    {% endblock %}
{% block content %}
<div class="container m-0">
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'bushido:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'bushido:allFactions' %}">Factions</a></li>
        <li class="breadcrumb-item"><a href="{% url 'bushido:factionDetails' factionid=unit.faction.id%}">{{unit.faction.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Model</li>
      </ol>
    </nav>
  </div>
  <div>
    <h1>{{unit.cardName}}</h1>
    <p class="fw-light">{{unit.faction.name}}</p>
    <ul class="list-group list-group-horizontal">
      {% for type in unit.types.all %}
      {% if type.type not in unit.name and type.type not in unit.cardName %}
      <li class="list-group-item py-1">{{ type.type }}</li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <hr>
  <div class="container card-container">
    <div class="row gx-0">
      <div class="col-lg-6"><img src="{% static cardFront %}" class="img-fluid d-block" alt = "{{unit.cardName}} Front"></div>
      <div class="col-lg-6"><img src="{% static cardBack %}" class="img-fluid d-block" alt = "{{unit.cardName}} Back"></div>
    </div>
    {% if not user.userprofile.hide_unofficial_card_message %}
    {% if "/unofficial/" in cardFront or "/unofficial/" in cardBack %}
    <div class="row mt-1 text-center">
      <div class="col-lg-6">{% if "/unofficial/" in cardFront %}<p class="fw-light">Unofficial Card</p>{% endif %}</div>
      <div class="col-lg-6">{% if "/unofficial/" in cardBack %}<p class="fw-light">Unofficial Card</p>{% endif %}</div>
    </div>
    {% endif %}
    {% endif %}
  </div>
  <hr>
  {% if cardUnits|length != 1 %}
  <div class="mb-2">
    <p>This card represents multiple different models, each with their own abilities. Unless specified, a Warband may not recruit multiples of the same model.</p>
    <ul class="nav nav-tabs">
      {% for cardUnit in cardUnits %}
      <li class="nav-item">
        <a class="nav-link{% if cardUnit == unit %} active" aria-current="page{% endif %}" href="{% url 'bushido:modelDetails' unitid=cardUnit.id%}">{{cardUnit.name}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div>
    <h4>Stats:</h4>
    <ul class="list-group list-group-horizontal text-center d-flex flex-wrap">
      <li class="list-group-item d-flex flex-fill justify-content-center">
        <div class="mx-2">
          <div class="fw-bold">Melee</div><hr class="py-0 my-1">
          {{unit.meleePool}} <span class="badge border border-light rounded-circle text-bg-dark">{{unit.meleeBoost}}</span>
        </div>
      </li>
      <li class="list-group-item d-flex flex-fill justify-content-center">
        <div class="mx-2">
          <div class="fw-bold">Ranged</div><hr class="py-0 my-1">
          {{unit.rangedPool}} <span class="badge border border-light rounded-circle text-bg-dark">{{unit.rangedBoost}}</span>
        </div>
      </li>
      <li class="list-group-item d-flex flex-fill justify-content-center">
        <div class="mx-2">
          <div class="fw-bold">Move</div><hr class="py-0 my-1">
          {{unit.movePool}} <span class="badge border border-light rounded-circle text-bg-dark">{{unit.moveBoost}}</span>
        </div>
      </li>
      <li class="list-group-item d-flex flex-fill justify-content-center">
        <div class="mx-2">
          <div class="fw-bold">Ki</div><hr class="py-0 my-1">
          {{unit.kiStat}}/{{unit.kiMax}} <span class="badge border border-light rounded-circle text-bg-dark">{{unit.kiBoost}}</span>
        </div>
      </li>
      <li class="list-group-item d-flex flex-fill justify-content-center">
        <div class="mx-2">
          <div class="fw-bold">Wounds</div><hr class="py-0 my-1">
          {{unit.wounds}}
        </div>
      </li>
      <li class="list-group-item d-flex flex-fill justify-content-center">
        <div class="mx-2">
          <div class="fw-bold">Cost</div><hr class="py-0 my-1">
          {{unit.cost}}
        </div>
      </li>
      <li class="list-group-item d-flex flex-fill justify-content-center">
        <div class="mx-2">
          <div class="fw-bold">Size</div><hr class="py-0 my-1">
          {{unit.size}} {{unit.baseSize}}mm
        </div>
      </li>
      <li class="list-group-item d-flex flex-fill justify-content-center">
        {% if unit.unique %}
        <div class="mx-0 d-flex align-items-center">
          <div class="fw-bold">Unique</div>
        </div>
          {% else %}
        <div class="mx-2">
          <div class="fw-bold">Max</div><hr class="py-0 my-1">
          {{unit.max}}
        </div>
        {% endif %}
      </li>
    </ul>
  </div>
  <hr>
  <h4>Weapons:</h4>
  <div class="container">
    <div class="row">
      {% for weapon in unit.weapons.all %}
      <div class="col-md-6 col-lg-4 gy-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{weapon.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{weapon.strength}} | {% if weapon.isRanged %}Ranged {{weapon.shortRange}}/{{weapon.mediumRange}}/{{weapon.longRange}}{% else %}Melee{% endif %}</h6>
            <ul class="list-group list-group-flush">
              {% for trait in weapon.weapontraits.all %}
              <a class="list-group-item list-group-item-action" href="{% url 'bushido:allTraits' %}#{{trait.trait.name}}">{{ trait.formatted }}</a>
              {% endfor %}
              {% for special in weapon.weaponspecials.all %}
              <a class="list-group-item list-group-item-action" href="{% url 'bushido:allSpecials' %}#{{special.special.name}}">{{special.special.name}} ({{special.cost}})</a>
              <!--li class="list-group-item">{{special.special.name}} ({{special.cost}})</li-->
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr>
  <div>
    <h4>Traits:</h4>
    {% if unit.unittrait_set.all|length == 0 %}
    <p>None</p>
    {% else %}
    <ul class="list-group list-group-horizontal-md d-flex flex-wrap">
      {% for trait in unit.unittrait_set.all %}
      <a class="list-group-item list-group-item-action w-auto py-md-2" href="{% url 'bushido:allTraits' %}#{{trait.trait.name}}">{{ trait.formatted }}</a>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <hr>
  <div>
    <h4>Feats:</h4>
    {% if unit.kiFeats.all|length == 0 %}
    <p>None</p>
    <hr>
    {% else %}
    <table class="table">
      <thead class="table-group-divider">
      <tr>
        <th>Name</th>
        <th>Cost</th>
        <th>Timing</th>
        <th>Type</th>
      </tr>
      </thead>
      <tbody>
      {% for feat in unit.kiFeats.all %}
      <tr>
        <td><a href="{% url 'bushido:featDetails' featid=feat.id%}">{{ feat.name }}</a></td>
        <td>{{ feat.cost }}</td>
        <td>{{ feat.timing }}</td>
        <td>{{ feat.featType }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  <div>
    <h4>Unique Effects:</h4>
    {% if unit.uniqueEffects == "" %}
    <p>None</p>
    {% else %}
    <p>{{ unit.uniqueEffects|linebreaks }}</p>
    {% endif %}
  </div>
    {% if unit.faction.name == "Ronin" %}
  <div>
    <h4>Permitted factions:</h4>
    <ul class="list-group">
      {% for faction in unit.ronin_factions.all %}
          <a class="list-group-item list-group-item-action" href="{% url 'bushido:factionDetails' factionid=faction.id %}">
              {{faction.name}}
          </a>
      {% endfor %}
      </ul>
  </div>
  {% endif %}
  {% if perms.bushido.change_unit %}
  <hr>
  <a class="btn btn-outline-secondary" href="./edit/" role="button">Edit model</a>
  {% endif %}
</div>
{% endblock %}
